<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>@ViewData["Title"] - ART Blog</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/8234f8cabf.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/img/ArtBrandW.png" height="30" class="d-inline-block align-text-top">
                Blog
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="BlogPosts" asp-action="Index">BlogPosts</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>


    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Welcome to Blog Home!</h1>
            </div>
            <form asp-action="SearchIndex" asp-controller="BlogPosts">
                <input class="form-control" type="text" name="searchTerm" />
                <button class="btn btn-sm btn-dark btn-outline-primary w-100">SEARCH</button>
            </form>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>


    <!-- Footer
    <footer class="footer mt-auto py-2 sticky-footer">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-3 gy-2">
                <div class="col order-last order-md-first d-flex align-items-center">
                    <div>
                        <span class="text-muted">&copy;2022 </span><span>andrew.r.tudor@outlook.com</span>
                    </div>
                </div>
                <div class="col footerName d-flex justify-content-start justify-content-lg-center align-items-center">
                    <img src="~/img/NameBrandW.png" height="40"/>
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-end">
                    <div class="row">
                        <div class="col social">
                            <a href="#">
                                <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col social">
                            <a href="#">
                                <i class="fab fa-github fa-2x" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col social">
                            <a href="#">
                                <i class="fa-solid fa-image-portrait fa-2x" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>-->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- CKEditor4 -->
    <script src="https://cdn.ckeditor.com/4.4.5.1/standard/ckeditor.js"></script>

    <!-- CKEditor5 
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>-->

    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    <!-- CKEditor to replace textareas with id="Body"-->
    <script>
        CKEDITOR.replace( 'Body' );
    </script>

</body>
</html>
