@page
@using AtlasBlog.Services.Interfaces
@model IndexModel

@inject IImageService _imageService
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <div class="d-flex justify-content-center mt-4">
            @if (Model.Input.ImageData is not null)
            {
                <img id="contactImage" src="@_imageService.ConvertByteArrayToFile(Model.Input.ImageData, Model.Input.ImageType!)" style="width:200px;height:200px" class="contactList-image" alt="...">
            }
            else
            {
                <img class="img-fluid img-thumbnail" style="width:200px;height:200px" src="~/img/defaultContactImage.jpg">
            }
        </div>
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div class="text-center">
                <label class="control-label text-muted mb-4">User Image</label>
                <input asp-for="Input.ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                       onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
